html {
   width: 100%;
   heigth: 100%;
}
body {
   width: 100%;
   heigth: 100%;
   font-family: monospace;
    
}
* {
    padding: 0;
    margin: 0;
    
}
header {
 width: 100%; 

}
header div{
    background: #2196F3;
}
.logos{
    height:  40px;
}
.menu{
    background: #2196F3;
    height: 65px;
    width: 100%;
    z-index:1;
}
/*menu fijo*/
.fixed {
    position:fixed;
    top:0px;
}
.menu ul{
    list-style-type: none;
    overflow: hidden;

}            
.menu ul li {
    float: left;
    margin-right: 10px;
}
#navleft li{
    float: left;
}
#navright li{
    float: right;
}
#logo{
    margin-left: 20px;
    width: 250px;
    height: 30px;
    margin-top: 10px;

}
#rex{
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    padding: 0px;
    background-image: url("src/dino.png");
    width: 35px;
    height:35px;
    animation: play 1s steps(3) infinite;
}

@-webkit-keyframes play {
   from { background-position:    0px; }
     to { background-position: -105px; }
}

.imgnav {
    height: 25px;
    width: 25px;
    padding: 0px;
    margin-right: 5px;
    vertical-align: middle;

}
header div ul li a{
    display:block;
    padding: 20px;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    
}
.contenido {
    height:800px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    
}
.slider{
    width: 29.5%;
    height: 28%;
    margin: auto;
    overflow: hidden;
    float: left;
    position:relative;
}
.slider ul{
    display: flex;
    padding: 0;
    width: 400%;
    height: 100%;
    animation: cambio 15s infinite alternate;
    animation-timing-function:ease-out;
}
.slider li{
    width: 100%;
     list-style: none;
    
}
.slider img{
    width: 100%;
    position:inherit;
    margin-top: -30px;
    
}
.slider label{
    color: white;
    position:absolute;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
    width: 60%;
    
    
}

@keyframes cambio {
    0% { margin-left: 0;}
    20% { margin-left: 0;}
    
    25% { margin-left: -100%;}
    45% { margin-left: -100%;}
    
    50% { margin-left: -200%;}
    70% { margin-left: -200%;}
    
    75% { margin-left: -300%;}
    100% { margin-left: -300%;}
    
}


#datos_hotel {
   background-color: #FF5722;
    width: 40%;;
    height: 225px;
    color: #FFFFFF;
    margin: 0 5px;
    float: left;
}

#datos_hotel form , h2{
    padding-left: 10px;   
}
input {
    padding: 5px;
    margin-bottom: 7px;
}
#lugar_hotel{
    width: 90%;
}
.f_reserva {
    margin-bottom: 0px;
    width: 29%;
}
#datos_hotel form div div, select{
    margin-bottom: 7px;
}
#label_salida {
    margin-left: 21%;
   
}
#label_personas {
    margin-left: 13.5%;
}
#select_personas {
    margin-left: 25%;
}
.fade li {
    transition: all 0.5s ease 0s;
}
.fade li:hover {
    background-color: #1976D2;
    box-shadow: inset 7px 0 0 0px #3071A9;
}
.popup-position{ 
    display: none; 
    position: fixed; 
    top: 0; 
    left: 0; 
    background-color: rgba(0,0,0,0.7); 
    width: 100%; 
    height: 100%; 
}
#popup_contenido_sesion{ 
    width: 300px; margin: 108px auto; text-align: left; 
    background-color: #FFF; 
    padding: 10px; 
    border-radius: 5px;
    animation-name: aparecer;
    animation-duration: 1s;
}
@keyframes aparecer {
    from {opacity: 0; }
    to { opacity: 1;}
}
#popup_contenido_sesion h3,#popup_contenido_registro h3{
    color: #2196F3;
}
#popup_contenido_registro{ 
    width: 300px; margin: 108px auto; text-align: left; 
    background-color: #FFF; 
    padding: 10px; 
    border-radius: 5px;
    animation-name: aparecer;
    animation-duration: 1s;
}
.close {
    width: 20px;
    height: 20px;
   
}
.close:hover {
    background-color: black;
    border-radius: 10px;
}
.hoteles {
    float:left;
    margin-top: 10px;
}
.hoteles img{
    width: 100%;
}