<div class="container">
    <div class="page-header-custom">
          <!-- START BLOCK : iniciarsesion -->
           <div id="administrador">
            <form class="form-horizontal form-group" action="index.php?action=Administrador::administrar" method="post" name="administrador">
                <fieldset>

                <legend>Administrador</legend>

                <div class="form-group">
                  <label class="col-md-4 control-label" for="user">User</label>
                  <div class="col-md-5">
                  <input id="user" name="useradmin" type="text" placeholder="" class="form-control input-md" required="">

                  </div>
                </div>

               <div class="form-group">
                  <label class="col-md-4 control-label" for="password">Contraseña</label>
                  <div class="col-md-4">
                    <input id="password" name="pass" type="password" placeholder="" class="form-control input-md" required="">

                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-4 ">
                    <button id="singlebutton" name="aceptar" class="btn btn-primary" type= "submit">Ingresar</button>
                  </div>
                </div>

                </fieldset>
            </form>
        </div>
        <!-- END BLOCK : iniciarsesion -->

           <!-- START BLOCK : no_sesion -->
            <div class='alert alert-warning' role='alert'>Datos Incorrectos<br></div>
            <a href="index.php?action=Administrador::sesion">Volver a cargar datos</a>
        <!-- END BLOCK : no_sesion -->
        <!-- START BLOCK : sesion -->
            <div class="form-group">
                      <div class="col-md-4 ">
                        <a href="index.php?action=Administrador::altaHotel"><button class="btn btn-primary" type= "submit">    Alta Hotel    </button></a>
                      </div>
            </div><br><br>
            <div class="form-group">
                      <div class="col-md-4 ">
                        <a href="index.php?action=Administrador::modificacionHotel"><button class="btn btn-primary" type= "submit">    Modificacion Hotel    </button></a>
                      </div>
            </div><br><br>
            <div class="form-group">
                      <div class="col-md-4 ">
                        <a href="index.php?action=Administrador::bajaHotel"><button class="btn btn-primary" type= "submit">    Baja Hotel    </button></a>
                      </div>
            </div><br><br>
        <!-- END BLOCK : sesion -->


    </div>
</div>

