<div class="container">
    <div class="page-header-custom">
    <!--START BLOCK : tabla -->
        <table class="table">
            <tr>
                <th colspan="7" align="center"><b>Hoteles</b></th>
            </tr>
            <tr>
                <th align="center">Nombre</th>
                <th align="center">Provincia</th>
                <th align="center">Localidad</th>
                <th align="center">Calle</th>
                <th align="center">Numero de Calle</th>
                <th align="center">Telefono</th>
                <th align="center">Precio</th>
            </tr>
            <!-- START BLOCK : hotels -->
            <tr>
                <td><a href = "index.php?action=Administrador::datosbaja::{idHotel}">{name}</a></td>
                <td>{prov}</td>
                <td>{local}</td>
                <td>{calle}</td>
                <td>{ncalle}</td>
                <td>{tel}</td>
                <td>{precio}</td>
            </tr>
            <!-- END BLOCK : hotels -->

            <!-- START BLOCK : no_hotels -->
                <div class='alert alert-warning' role='alert'>No hay hoteles cargados</div>
                <a href="index.php">Inicio</a><br>
                <a href="index.php?action=Administrador::sesion">Administrador</a><br><br>

            <!-- END BLOCK : no_hotels -->
        </table>
    <!--START BLOCK : tabla -->

    <!--START BLOCK : hotelbaja -->
        <div class="page-header">
              <h1>Hotel {nombre}</h1>
        </div>
        <div>
              {descripcion}
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Provincia</h4>
                <div class="panel panel-default">
                   {prov}
                </div>
                <h4>Localidad</h4>
                <div class="panel panel-default">
                   {local}
                </div>
                <h4>Calle</h4>
                <div class="panel panel-default">
                   {calle}
                </div>
                <h4>Numero de Calle</h4>
                <div class="panel panel-default">
                   {ncalle}
                </div>
                <h4>Telefono</h4>
                <div class="panel panel-default">
                   {tel}
                </div>
                <h4>Precio por persona</h4>
                <div class="panel panel-default">
                    {precio}
                </div>

            </div>
        </div>
        <div>
            <form method="post" action="index.php?action=Administrador::baja::{idHotel}">
                <button type="submit" class="btn btn-primary btn-lg">Realizar Baja</button>
            </form>
        </div>

        <!--END BLOCK : hotelbaja -->

        <!-- START BLOCK : mensajebaja -->
            <div class='alert alert-warning' role='alert'>Se ha eliminado el hotel</div>
            <a href="index.php">Inicio</a><br>
            <a href="index.php?action=Administrador::sesion">Administrador</a>
        <!-- START BLOCK : mensajebaja -->

    </div>
</div>


