<div class="container">
    <div class="page-header-custom">
        <table class="table">
            <tr>
                <th colspan="7" align="center"><b>Hoteles</b></th>
            </tr>
            <tr>
                <th align="center">Nombre</th>
                <th align="center">Provincia</th>
                <th align="center">Localidad</th>
                <th align="center">Calle</th>
                <th align="center">Numero de Calle</th>
                <th align="center">Telefono</th>
                <th align="center">Precio</th>
            </tr>
            <!-- START BLOCK : hotels -->
            <tr>
                <td>{name}</td>
                <td>{prov}</td>
                <td>{local}</td>
                <td>{calle}</td>
                <td>{ncalle}</td>
                <td>{tel}</td>
                <td>{precio}</td>
            </tr>
            <!-- END BLOCK : hotels -->
            <!-- START BLOCK : error -->
            <div class='alert alert-danger' role='alert'>{msg}.</div>
            <!-- END BLOCK : error -->
            <!-- START BLOCK : no_hotels -->
            <div class='alert alert-warning' role='alert'>No se han encontrado coincidencias con <b>{hotel}</b>.</div>
            <!-- END BLOCK : no_hotels -->
        </table>
    </div>
</div>