
<div class="container">
    <div class="page-header-custom">
        <!-- START BLOCK : datosreserva -->
         <form class="form-horizontal form-group" action="index.php?action=Reserva::ejecutarReserva::{id_hotel}" method="post" name="reserva">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="user">Cantidad de personas</label>
                    <div class="col-md-5">
                        <input name="cantidad" type="number" placeholder="" class="form-control input-md" required="">
                    </div>
                </div>

                 <div class="form-group">
                    <label class="col-md-4 control-label" for="user">Fecha llegada</label>
                    <div class="col-md-5">
                        <input name="llegada" type="date" placeholder="" class="form-control input-md" required="">
                    </div>
                </div>

                 <div class="form-group">
                    <label class="col-md-4 control-label" for="user">Fecha salida</label>
                    <div class="col-md-5">
                        <input name="salida" type="date" placeholder="" class="form-control input-md" required="">
                    </div>
                </div>

                <div class="form-group">
                  <div class="col-md-4 ">
                    <button id="singlebutton" name="aceptar" class="btn btn-primary" type= "submit">Ingresar</button>
                  </div>
                </div>
         </form>

        <!-- END BLOCK : datosreserva -->

        <!-- START BLOCK : mensajereserva -->
        <div class='alert alert-danger' role='alert'>Reserva Exitosa<br>Codigo de reserva: {cod_reserva}</div>
        <!-- END BLOC : mensajereserva -->


    </div>
</div>
